{# registration/main.html.twig #}
{% extends "_layout/template.html.twig" %}

{% block title %}
    {{ 'registration.site.title'|trans }}
{% endblock %}

{% block body %}
    {% set transKey = 'registration.form.' %}
    <div class="flex items-center justify-center min-h-screen bg-gray-50">
        <div class="w-full max-w-sm bg-white rounded-xl border border-gray-200 p-8">

            <h4 class="text-lg font-semibold text-gray-900 mb-1">{{ (transKey ~ 'title')|trans }}</h4>

            {{ component('registrationForm') }}

            <p class="mt-4 text-center text-sm text-gray-500">
                {{ (transKey ~ 'got_account')|trans }}
                <a href="{{ path('core_login') }}" class="text-blue-600 hover:underline">{{ (transKey ~ 'login_link_label')|trans }}</a>
            </p>

        </div>
    </div>
{% endblock %}
