{% extends "core/template.html.twig" %}

{% block title %}
    {{ 'site.title.chat.list'|trans }}
{% endblock %}

{% block body %}
    <table class="table-auto">
        <thead>
            <tr>
                <th>{{ 'chat.list.users' }}</th>
                <th>
                    <a class="text-green-600 hover:underline" href="{{ url('chat_mercure_chat_create') }}">{{ 'chat.list.create' }}</a>
                </th>
            </tr>
        </thead>
        <tbody>
            {% for chat in chats %}
                <tr>
                    <td>{{ chat.users|map(u => u.username)|join(', ') }}</td>
                    <td>
                        <a class="text-green-600 hover:underline" href="{{ url('chat_mercure_chat_open', {id: chat.id}) }}">{{ 'chat.list.open' }}</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
